  .input_class{
	  background: rgba(243, 242, 242, 0.932);
	  border: none;
	  font-size: 15px;
	  height: auto;
	  margin: 0;
	  outline: 0;
	  padding: 10px;
	  width: 100%;
	  background-color: #e8efea;
	  color: hsl(204, 20%, 5%);
	  box-shadow: #8265B0;
	  margin-bottom: 15px;
  }
  .form-input-class {
	  max-width: 100px;
	  margin: 10px auto;
	  padding: 5px 5px;
	  background: #f4f7f8;
	  border-radius: 3px;
	  border: 0 solid;
	  box-shadow: #8265B0;
  }

.head-login-modal{
	background-color: #5cb85c;
	color:white !important;
	text-align: center;
	font-size: 30px;
}

.no-border-right{
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0;
}

  .no-border-left{
	  border-top-left-radius: 0px;
	  border-bottom-left-radius: 0;
  }