form {
    width:1050px;
    margin:30px auto;
    border-block-start: 50px;
    left: -8px;
    margin-bottom: 35px;
  
  /* margin-inline-start: 500px; */

    
}
.search {
    padding:8px 400px;
    background:#f8f5f5f1;
    border:1px solid hsla(0, 10%, 4%, 0.541);

   
}
.button {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:3.1px solid #53bd84;
    background-color:#53bd84;
    color:#fafafa;
}
.button:hover  {
    background-color:#fafafa;
    color:#207cca;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  